/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --main-color: #000028;
  --text-color: #f1b2ce;
  --header-bg-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --text-content-color: #f1b2ce;
  --text-cover: #000028;
  --content-title: #ff0070;
  --decor-color: #ff0070;
  --decor-content-color: #ff0070;
  --shadow-color: #ff0070;
  --button-color: #ff007066;
  --text-button-color: #ff0070;
  --border-color: #ff0070;
}

.theme-dark .main-header__lamp {
  display: flex;
}
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}